body {
  height: 100vh;
}
body main {
  width: 100%;
  height: 100%;
  float: left;
  padding: 50px 0 0 !important;
  background-color: #808080;
}
body #map {
  width: 100%;
  height: 100%;
  float: left;
  background-color: #808080;
}
body .fixed {
  position: fixed !important;
}
body {
  height: 100vh;
}
body main {
  width: 100%;
  height: 100%;
  float: left;
  padding: 50px 0 0 !important;
  background-color: #808080;
}
body #map {
  width: 100%;
  height: 100%;
  float: left;
  background-color: #808080;
}
body .fixed {
  position: fixed !important;
}
.glyphicon-refresh-animate {
  animation: spin 0.7s infinite linear;
}
@-moz-keyframes spin {
  from {
    transform: scale(1) rotate(0deg);
  }
  to {
    transform: scale(1) rotate(360deg);
  }
}
@-webkit-keyframes spin {
  from {
    transform: scale(1) rotate(0deg);
  }
  to {
    transform: scale(1) rotate(360deg);
  }
}
@-o-keyframes spin {
  from {
    transform: scale(1) rotate(0deg);
  }
  to {
    transform: scale(1) rotate(360deg);
  }
}
@keyframes spin {
  from {
    transform: scale(1) rotate(0deg);
  }
  to {
    transform: scale(1) rotate(360deg);
  }
}
#markersTable thead th {
  vertical-align: middle;
  padding: 5px 30px;
  white-space: nowrap;
}
#markersTable thead th.sorting:after,
#markersTable thead th.sorting_asc:after,
#markersTable thead th.sorting_desc:after {
  font-size: 13px;
  vertical-align: middle;
  line-height: 20px;
  left: 6px;
}
#markersTable thead th .lastCol {
  right: 0;
  left: inherit;
}
#markersTable thead th .badge {
  font-size: 9px;
  visibility: hidden;
}
#markersTable thead th .badge.checked {
  visibility: visible;
}
#markersTable thead th .dropdown-menu {
  left: 0;
}
#markersTable thead th label {
  text-align: left;
  margin-left: 15px;
  width: 100%;
}
#markersTable thead th .btn-group {
  margin-left: 5px;
  z-index: 9;
  position: absolute;
  right: 4px;
}
#markersTable thead th .btn-group .btn-group-xs>.btn,
#markersTable thead th .btn-group .btn-xs {
  font-size: 10px;
}
#markersTable tr.inactive * {
  opacity: 0.6;
}
#markersTable .visibleCol {
  text-align: center;
  vertical-align: middle;
}
#markersTable tfoot th input {
  width: 100%;
}
#wizard .tab-pane {
  margin-top: -1px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
#wizard .input-group.file {
  position: absolute;
  opacity: 0;
  z-index: 9;
  margin-top: -34px;
}
#wizard .progress {
  top: -42px;
  z-index: 10;
  position: relative;
  background: transparent;
  box-shadow: none;
  display: none;
}
#markersPane {
  animation: markersIn 0.3s linear;
  width: 25%;
  margin-top: 50px;
  padding-left: 0;
}
#markersPane.off {
  animation: markersOut 0.3s linear;
  width: 85px;
}
#markersPane.off .glyphicon-menu-left {
  animation: rotateIn 0.3s linear;
  transform: scale(1) rotate(180deg);
}
#markersPane.off .title-text {
  display: none;
}
#markersPane .glyphicon-menu-left {
  animation: rotateOut 0.3s linear;
  transform: scale(1) rotate(0deg);
}
#markersPane #markersList {
  padding: 0;
}
#markersPane #markersList.collapsing {
  width: 0;
}
#markersPane #markersList .glyphicon-screenshot {
  display: none;
}
#markersPane #markersList .active .glyphicon-screenshot {
  display: inline;
  margin-left: -10px;
}
#markersPane #markersList a.list-group-item {
  padding-left: 23px;
}
#markersPane #markersList a.list-group-item.active {
  padding-left: 15px;
}
#markersPane #markersList a.list-group-item.inactive {
  opacity: 0.6;
}
#markersPane #markersList a .toggleVisibility:hover {
  background-color: #ccc;
  color: #fff;
}
@-moz-keyframes rotateIn {
  from {
    transform: scale(1) rotate(0deg);
  }
  to {
    transform: scale(1) rotate(180deg);
  }
}
@-webkit-keyframes rotateIn {
  from {
    transform: scale(1) rotate(0deg);
  }
  to {
    transform: scale(1) rotate(180deg);
  }
}
@-o-keyframes rotateIn {
  from {
    transform: scale(1) rotate(0deg);
  }
  to {
    transform: scale(1) rotate(180deg);
  }
}
@keyframes rotateIn {
  from {
    transform: scale(1) rotate(0deg);
  }
  to {
    transform: scale(1) rotate(180deg);
  }
}
@-moz-keyframes rotateOut {
  from {
    transform: scale(1) rotate(180deg);
  }
  to {
    transform: scale(1) rotate(0deg);
  }
}
@-webkit-keyframes rotateOut {
  from {
    transform: scale(1) rotate(180deg);
  }
  to {
    transform: scale(1) rotate(0deg);
  }
}
@-o-keyframes rotateOut {
  from {
    transform: scale(1) rotate(180deg);
  }
  to {
    transform: scale(1) rotate(0deg);
  }
}
@keyframes rotateOut {
  from {
    transform: scale(1) rotate(180deg);
  }
  to {
    transform: scale(1) rotate(0deg);
  }
}
@-moz-keyframes markersIn {
  from {
    width: 85px;
  }
  to {
    width: 25%;
  }
}
@-webkit-keyframes markersIn {
  from {
    width: 85px;
  }
  to {
    width: 25%;
  }
}
@-o-keyframes markersIn {
  from {
    width: 85px;
  }
  to {
    width: 25%;
  }
}
@keyframes markersIn {
  from {
    width: 85px;
  }
  to {
    width: 25%;
  }
}
@-moz-keyframes markersOut {
  from {
    width: 25%;
  }
  to {
    width: 85px;
  }
}
@-webkit-keyframes markersOut {
  from {
    width: 25%;
  }
  to {
    width: 85px;
  }
}
@-o-keyframes markersOut {
  from {
    width: 25%;
  }
  to {
    width: 85px;
  }
}
@keyframes markersOut {
  from {
    width: 25%;
  }
  to {
    width: 85px;
  }
}
.modal {
  text-align: center;
}
.modal:before {
  display: inline-block;
  vertical-align: middle;
  content: " ";
  height: 100%;
}
.modal .modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}
@media (max-width: 768px) {
  .modal {
    text-align: center;
  }
  :before {
    display: initial;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
  .modal-dialog {
    display: block;
    text-align: left;
    vertical-align: middle;
  }
}

/*# sourceMappingURL=app.css.map */
