#wizard .tab-pane {
  margin-top: -1px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
#wizard .input-group.file {
  position: absolute;
  opacity: 0;
  z-index: 9;
  margin-top: -34px;
}
#wizard .progress {
  top: -42px;
  z-index: 10;
  position: relative;
  background: transparent;
  box-shadow: none;
  display: none;
}

/*# sourceMappingURL=markers.manager.css.map */
