body 
  height:100vh

  main
    width: 100%
    height:100%
    float: left
    padding: 50px 0 0 !important
    background-color: gray

  #map
    width: 100%
    height:100%
    float: left
    background-color: gray

  .fixed
    position: fixed !important

@require './*'