@keyframes rotateIn 
  from {transform: scale(1) rotate(0deg)}
  to {transform: scale(1) rotate(180deg)}

@keyframes rotateOut 
  from {transform: scale(1) rotate(180deg)}
  to {transform: scale(1) rotate(0deg)}


@keyframes markersIn 
  from {width: 85px}
  to {width: 25%}


@keyframes markersOut 
  from {width: 25%}
  to {width: 85px}

#markersPane 
  animation: markersIn .3s linear
  width: 25%
  margin-top: 50px
  padding-left: 0

  &.off
    animation: markersOut .3s linear
    width: 85px

    .glyphicon-menu-left
      animation: rotateIn .3s linear
      transform: scale(1) rotate(180deg)

    .title-text
      display: none

  .glyphicon-menu-left
    animation: rotateOut .3s linear
    transform: scale(1) rotate(0deg)

  #markersList
    padding: 0

    &.collapsing
      width:0

    .glyphicon-screenshot
      display: none

    .active .glyphicon-screenshot
      display: inline
      margin-left: -10px

    a
      &.list-group-item
        padding-left: 23px

        &.active
          padding-left: 15px

        &.inactive
          opacity: 0.6

      .toggleVisibility:hover
        background-color: #ccc
        color: #fff