#markersTable thead th {
  vertical-align: middle;
  padding: 5px 30px;
  white-space: nowrap;
}
#markersTable thead th.sorting:after,
#markersTable thead th.sorting_asc:after,
#markersTable thead th.sorting_desc:after {
  font-size: 13px;
  vertical-align: middle;
  line-height: 20px;
  left: 6px;
}
#markersTable thead th .badge {
  font-size: 9px;
  visibility: hidden;
}
#markersTable thead th .badge.checked {
  visibility: visible;
}
#markersTable thead th .dropdown-menu {
  left: 0;
}
#markersTable thead th .dropdown-menu.lastCol {
  right: 0;
  left: inherit;
}
#markersTable thead th label {
  text-align: left;
  margin-left: 15px;
  width: 100%;
}
#markersTable thead th .btn-group {
  margin-left: 5px;
  z-index: 9;
  position: absolute;
  right: 4px;
}
#markersTable thead th .btn-group .btn-group-xs>.btn,
#markersTable thead th .btn-group .btn-xs {
  font-size: 10px;
}
#markersTable tr.inactive * {
  opacity: 0.6;
}
#markersTable .visibleCol {
  text-align: center;
  vertical-align: middle;
}
#markersTable tfoot th input {
  width: 100%;
}
