<div class="table-responsive">
    <table id="markersTable" class="bg-info table table-condensed table-striped table-bordered table-hover" cellspacing="0" width="100%">
        <tfoot class="form-inline"><tr class="form-group-sm"></tr></tfoot>
    </table>
</div>