<a href="#" class="list-group-item ${active}">
    <span class="glyphicon glyphicon-screenshot"></span>
    <span class="toggleVisibility badge"><span class="glyphicon glyphicon-eye-${visible}"></span></span>
    ${label}
</a>