<div id="wizard" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="exampleModalLabel">
                    <span class="glyphicon glyphicon-map-marker text-danger"></span> Markers
                </h4>
            </div>
            <div class="modal-body">
                <!--    tab nav     -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation">
                        <a href="#load" aria-controls="load" role="tab" data-toggle="tab">Load</a>
                    </li>
                    <li role="presentation">
                        <a id="manageTab" href="#manage" aria-controls="manage" role="tab" data-toggle="tab">Manage</a>
                    </li>
                </ul>
                <!--    tab content     -->
                <div class="tab-content">
                    <!--    tab pane load     -->
                    <div role="tabpanel" class="tab-pane well" id="load">
                        <form>
                            <div class="form-group file-wrapper">
                                <label class="control-label" id="uploadCsvFileLabel">Upload CSV File</label>
                                <div class="form-group">
                                    <div class="input-group">
                                        <input type="text" class="form-control" id="uploadCsvFileFake" placeholder="File name..." readonly>
                                        <div class="input-group-addon">
                                            <span class="glyphicon glyphicon-open-file"></span>
                                        </div>
                                    </div>
                                    <div class="input-group file">
                                        <input type="file" class="form-control" id="uploadCsvFile" placeholder="File name...">
                                        <div class="input-group-addon">
                                            <span class="glyphicon glyphicon-open-file"></span>
                                        </div>
                                    </div>
                                    <span class="help-block"></span>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                                        0%
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="csvContent" class="control-label">or paste your content here:</label>
                                <textarea class="form-control" id="csvContent" rows="5"></textarea>
                            </div>
                            <div class="form-group">
                                <span class="clearfix">
                                    <label class="control-label">and select your separator:</label>
                                </span>
                                <div class="btn-group" data-toggle="buttons">
                                    <label class="btn btn-primary active">
                                        <input type="radio" name="separator" id="option1" value="," autocomplete="off" checked> Comma
                                    </label>
                                    <label class="btn btn-primary">
                                        <input type="radio" name="separator" id="option2" value=";" autocomplete="off"> Semicolon
                                    </label>
                                    <label class="btn btn-primary">
                                        <input type="radio" name="separator" id="option3" value="\t" autocomplete="off"> Tab
                                    </label>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!--    tab pane manage     -->
                    <div role="tabpanel" class="tab-pane well" id="manage">
                    </div>
                </div>
            </div>
            <!--    modal footer    -->
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="action btn btn-primary disabled">Next</button>
            </div>
        </div>
    </div>
</div>