<div class="panel panel-default">
    <div class="panel-heading">
        <a id="toggleMarkersPane" href="#markersList" role="button" data-toggle="collapse" aria-expanded="true" aria-controls="markersList">
            <h3 class="panel-title">
                <span class="glyphicon glyphicon-map-marker text-danger"></span>
                <span class="title-text">Markers</span>
                <span class="glyphicon glyphicon-menu-left pull-right"></span>
            </h3>
        </a>
    </div>
    <div id="markersList" class="panel-body collapse">
    </div>
</div>